<?php

return array(
    'searchldap_config' => array(
        'host'                  => 'ldap.parisdescartes.fr',
        'port'                  => '389',
        'username'              => 'cn=LectDev,ou=applications,dc=univ-paris5,dc=fr',
        'password'              => 'CyGuMiYo',
        'bindRequiresDn'        => true,
        'accountDomainName'     => 'parisdescartes.fr',
        'baseDn'                => 'ou=People,dc=univ-paris5,dc=fr',
    ),
    
);
